<h1>Contacts List</h1>
<a type="button" class="btn btn-primary mb-3" href="/contact/add">Add new contact</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <% if (contacts.length < 1) { %>
  <div>Contacts list are empty</div>
  <% } else { %>
  <% if (msg.length > 0) { %>
  <div class="alert alert-success alert-dismissible">
    <a href="/contact/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= msg %> </strong>
  </div>
  <% } %>
  <tbody>
    <% contacts.forEach((contact, index) => { %>
    <% console.log(contact.name) %>
    <% const myRef = `/contact/${contact.name}`%>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><a href="<%= myRef  %>" type="button" class="btn btn-success badge btn-sm rounded-pill"><i class="bi bi-info-circle"></i> Detail</a></td>
    </tr>
    <% }) %>
  </tbody>
  <% } %>
</table>